body {
  background-color: #dc3a3a;
}

h1 {
  color: #000000;
}

.trollElement{
  position: absolute;
  top: 50;
  left: 50;
  z-index: 0;
  margin: 2px;
  width: 256px;
  height: 256px;
}

.trollBody{
  position: absolute;
  top: 50;
  left: 50;
  z-index: 0;
  margin: 2px;
  width: 256px;
  height: 256px;
}

.trollHead{
  position: absolute;
  top: 50;
  left: 50;
  z-index: 0;
  margin: 2px;
  width: 256px;
  height: 256px;
}
h1 {
  text-align: center;
}
h3 {
  margin-left: 100px;
}
table, th{
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgb(215, 166, 43);
  margin: auto;
  padding: 12px;
  text-align: center;
}
#addTroll{
  margin-left: 38%;
  margin-right: 36%;
  margin-top: 1%;
  margin-bottom: 1%;
}
td {
  border: 1px solid black;
}

/* Troll Stuff */
/* Troll 1 */
.trollElement1{
  position: absolute;
  top: 50;
  left: 50;
  z-index: 0;
  margin: 2px;
  width: 256px;
  height: 256px;
}

.trollBody1{
  position: absolute;
  top: 50;
  left: 50;
  z-index: 0;
  margin: 2px;
  width: 256px;
  height: 256px;
}

.trollHead1{
  position: absolute;
  top: 50;
  left: 50;
  z-index: 0;
  margin: 2px;
  width: 256px;
  height: 256px;
}
/* Troll 2 */
.trollElement2{
  position: absolute;
  top: 50;
  left: 150;
  z-index: 0;
  margin: 2px;
  width: 256px;
  height: 256px;
}

.trollBody2{
  position: absolute;
  top: 50;
  left: 150;
  z-index: 0;
  margin: 2px;
  width: 256px;
  height: 256px;
}

.trollHead2{
  position: absolute;
  top: 50;
  left: 150;
  z-index: 0;
  margin: 2px;
  width: 256px;
  height: 256px;
}
